    <!-- About Section -->
        
        <section class="success" id="about-container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">

                    <div id="#privacy">
                    <hr class="star-light">
                    <h2>Privacy</h2>
                    <p>
                        <h4 class="text-primary">gunnr is anonymous, not anonymized.</h4>
                        <p>In order to see data other people have submitted, we ask you to sign up with your email address like every other site on the Internet. We promise to protect your personal information and not spam you.</p>
                        <p>However! In order to <i>submit</i> your scores, we <i>will not accept</i> your email address, name, or any other identifying information. Instead, we assign you a secret, random 8 digit code, and associate your scores with that code alone.</p>
                        <p>If for some reason you need to modify the information you submitted, you can log back in with your secret code. If you lose the code, you can't get it back, because it's not tied to any other information about you.</p>

                    </p>
                    </div>



                    <div id="#faq">
                    <hr class="star-light">
                    <h2>FAQ</h2>
                    <p>Coming soon.</p>
                    </div>

                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </section><!--/section-->
        

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>
                        We'd love to hear from you!<br><a href="mailto:hello@gunnr.co">hello@gunnr.co</a>
                        </h3>
                        <br>Copyright &copy; gunnr 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
